  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
body{
    width: 100%;
    background: #E5E7EB;
    position: relative;
    display: flex;
}
#menu{
    background-color: #111827;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
#menu .logo{
    display: flex;
    align-items: center;
    padding: 20px 0 0 20px;
    color: azure;
    /* justify-content: space-around; */
}
#menu .logo img{
width: 60px;
margin-right: 13px;
border-radius: 9px;
}
#menu .items{
margin-top: 40px;
}
#menu .items li{
list-style: none;
padding:15px 0;
transition: 0.9s ease;
}
#menu .items li:hover{
background: #253047;
cursor: pointer;
}

#menu .items li i{
color: rgb(134, 141, 151);
width: 30px;
height: 30px;
line-height: 30px;
text-align: center;
font-size: 14px;
margin: 0px 10px 0 25px;
}
#menu .items li:hover i, #menu .items li:hover a{
color: #f3f4f5;
}
#menu .items li a{
text-decoration: none;
color: rgb(134, 141, 151); ;
font-weight: 300px;
transition: 0.9s ease;
}
#interface{
width: calc(100% - 300px);
margin-left: 300px;
position: relative;
}
#interface .navigation{
display: flex;
align-items: center;
justify-content: space-between;
background-color: #fff;
padding: 15px 30px;
border-bottom: 3px solid blue;
position: fixed;
width: calc(100% - 300px);
}
#interface .navigation .search{
display: flex;
justify-content: flex-start;
align-items: center;
padding: 10px 14px;
border: 1px solid #d7dbe6;
border-radius: 4px;
}
#interface .navigation .search i{
margin-right: 14px;
}
#interface .navigation .search input{
border: none;
outline: none;
font-size: 14px;
}
#interface .navigation .profile{
display: flex;
justify-content: flex-start;
align-items: center;
}
#interface .navigation .profile i{
margin-right: 20px;
font-size: 19px;
font-weight: 400;
}
#interface .navigation .profile img {
width: 60px;
height: 60px;
border-radius: 50%;
object-fit: cover;
}
.n1{
display: flex;
justify-content: flex-start;
align-items: center;
}
#menu-btn{
display: none;
color: #2b2b2b;
cursor: pointer;
font-size: 20px;
margin-right: 40px;

}
.i-name{
color:#444a35;
padding:30px 30px 0 30px ;
font-size:24px ;
font-weight:700 ;
margin-top: 70px;
}
.values{
padding:30px 30px 0 30px ;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}
.values .val-box{
background: #fff;
width:235px ;
padding:15px 20px ;
border-radius: 5px;
display: flex;
justify-content: flex-start ;
align-items: center;
}
.values .val-box i{
font-size:25px ;
width:60px ;
height:60px ;
line-height: 60px;
border-radius:50% ;
text-align:center ;
/* color: rgb(255, 7, 7) ; */
/* background: black ; */
margin-right:15px ;
}
.values .val-box:nth-child(1) i{
background-color: #111827;
color: red;
}
.values .val-box:nth-child(2) i{
background-color: #022b83;
color: rgb(51, 255, 0);
}
.values .val-box:nth-child(3) i{
background-color: #08eaff;
color: rgba(16, 35, 20, 0.625);
}
.values .val-box:nth-child(4) i{
background-color: #eabc07;
color: rgb(199, 18, 178);
}
.values .val-box h3{
font-size: 18px;
font-weight: 600;
}
.values .val-box span{
font-size: 15px;
color: #a9a9a9;
}
.board{
width: 96%;
margin: 30px 0 30px 30px;
overflow: auto;
background: white;
border-radius: 9px;
}
.board img{
width: 45px;
height: 45px;
object-fit: cover;
border-radius: 50%;
margin-right: 15px;
}
.board h5{
font-weight: 600;
font-size: 14px;
}
.board p{
font-weight: 400;
font-size: 13px;
color: #787d8d;
}
.board .people{
display: flex;
justify-content: flex-start;
align-items: center;
text-align: start;
}
table{
border-collapse: collapse;
}
tr{
border-bottom: 1px solid #a9a9a9;
}
thead td{
font-size: 14px;
font-weight: 400;
background: #F9FBFB ;
text-align: start;
padding: 15px;
}
tbody tr td{
padding: 10px 15px;
}
.active p{
background: #d7fada;
padding: 2px 10px;
display: inline-block;
border-radius: 40px;
color: #2b2b2b;
}
.edit a{
text-decoration: none;
font-weight: 600;
font-size: 14px;
color: #333242;
}

@media  (max-width:769px) {
#menu{
    width: 270px;
    position: fixed;
    left:-270px;
   
}
#menu.active{
    left: 0;
    /* z-index: 0; */
    transition: 0.5s ease;
}
#interface{
width: 100% ;
margin-left: 0;
display: inline-block;
transition: 0.5s ease;
}
#menu.active ~ #interface{
width: calc(100% - 270px);
margin-left: 270px;
transition: 0.5s ease;
}
#interface .navigation{

width: 100%;
}
.values{
padding:30px 30px 0 30px ;

justify-content: flex-start;

}
.values .val-box{

padding:16px 20px ;
margin: 10px 20px 10px 0;
}
.board{
width: 92%;
padding: 0;
overflow-x: auto;
}
#menu-btn{
display: initial;
}
.table{
width: 100%;
border-collapse: collapse
}
}
@media  (max-width:477px) {
#interface .navigation{
padding: 15px;
}
.i-name{
padding: 30px 15px 0 15px;
}
#interface .navigation .search input{
width: 150px;
}
.values{
padding:15px 15px 0 15px ;
}
.values .val-box{
width: 100%;
margin: 8px 0;
}
.board{
margin: 30px 15px 30px 15px;
}
}