#container{
    width: 100%;
    height: 800px;
    
    /* background-color:#9FA8DA */
    /* display: flex;
    justify-content: space-evenly; */
}
#signup_button{
    background-color: #4B5666;
    border-color: #4B5666;
    width: 330px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
    border-width: 1px;
    
}
#signup_button:hover{
    background-color:#ffffff;
}
#signup_button1{
    background-color: #4B5666;
    border-color: #4B5666;
    width: 330px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
    border-width: 1px;
    
}
#signup_button1:hover{
    background-color:#ffffff;
}
/* other */
#boxbody{
background-color: white;
width :400px;
margin: auto;
/* margin-top: 12.5rem; */
}
h2{
font-size: 2.3rem;
}
h2 span,p{
color: gray;
}
p{
margin-top: 1rem;
font-size: 1.5rem;
}
p span{
color:#ff3f6c;
}
.signin{
padding: 30px;
}

input{
padding: 10px 145px 10px 20px;
margin-top:20px ;
}
/* .imgbo{
margin-bottom: -10px;
} */
h3{
margin-bottom: -2px;
}

#signUp, #logIn{
cursor: pointer;
font-weight: 900;
letter-spacing: 1px;
border-bottom: 1px solid #ff3f6c;
}
/* RIGHT SIDE ICONS */
/* #right_icon{
    gap: 0.5rem;
}
#right_icon > div{
    cursor: pointer;   
} */